.winner__wrapp {
  position: fixed;
  left: 0;
  right: -5%;
  top: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 999;
  .winner__section {
    position: absolute;
    top: 45vh;
    left: 30vw;

    text-align: center;
    width: 35%;
    padding: 25px;
    border-radius: 5px;
    background-color: rgba(206, 0, 255, 0.8);

    span {
      font-size: 22px;
      font-weight: bold;
      color: white;
      background-color: transparent;
    }
    button {
      font-size: 18px;
      padding: 3px;
      color: white;
      border: 2px solid white;
      border-radius: 2px;
      background-color: transparent;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}