.buttons {
  display: flex;
  justify-content: space-between;
  width: 840px;
  position: absolute;
  top: 20px;
}
.buttons button {
  width: 110px;
  padding: 10px;
  cursor: pointer;
  border: none;
  color: #282828;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;

  &:disabled {
    opacity: 0;
    cursor: default;
  }
}