.buttons {
  width: 95%;
  margin: auto; 
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
}
.buttons .buttons__default {
  width: 110px;
  padding: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  color: #f93535;
  font-size: 14px;
  font-weight: bold;

  &:disabled {
    background-color: transparent;
    cursor: default;
    opacity: 0.5;
  }
}

@media (max-width: 640px) {
  .buttons .buttons__default {
    font-size: 11px;
    width: 90px;
  }
}

@media (max-width: 370px) {
  .buttons .buttons__default {
    padding: 0;
    font-size: 11px;
    width: 80px;
  }
}

@media (hover: hover) {
  .buttons .buttons__default {
    &:hover {
      border-bottom-color: #f93535;
    }
    &:disabled {
      &:hover {
        animation: none;
        border-bottom-color: transparent;
      }
    }
  }
}
