.buttons {
  width: 95%;
  margin: auto; 
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.buttons .buttons__default {
  width: 100px;
  padding: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  color: #f93535;
  font-size: 10px;
  font-weight: bold;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

@media (min-width: 375px) {
  .buttons .buttons__default {
    font-size: 12px;
  }
}

@media (min-width: 640px) {
  .buttons .buttons__default {
    width: 110px;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
  }
}

@media (min-width: 1100px) {
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    position: absolute;
    left: -125px;
    top: 170px;

    .buttons__default {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      font-size: 14px;
      border: 10px solid #a00000;
      background-color: #f93535;
      font-weight: bold;
      color: #780000;
      cursor: pointer;
    
      &:disabled {
        cursor: default;
        opacity: 0.5;
      }
    }
  }
}

@media (min-width: 1260px) {
  .buttons {
    left: -200px;
  }
}

@media (hover: hover) {
  @media (max-width: 1100px) {
    .buttons .buttons__default {
      &:hover {
        border-bottom-color: #f93535;
      }
      &:disabled {
        &:hover {
          animation: none;
          border-bottom-color: transparent;
        }
      }
    }
  }
  @media (min-width: 1100px) {
    .buttons .buttons__default {
      &:hover {
        background-color: #fb5a5a;
      }
      &:disabled {
        &:hover {
          background-color: #f93535;
        }
      }
    }
  }
}
