.checker {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  border: 20px solid #393939;
  color: #000000;
  margin: 5px;
  cursor: pointer;
}
.checker__white {
  background-color: white;
}
.checker__black {
  background-color: grey;
}
.checker__memorized {
  box-shadow: 0px 0px 10px 5px #ce00ff;
  cursor: pointer !important;
}