#restart {
  width: 110px;
  color: #282828;
  background-color: #f93535;
  border: 5px solid #d50000;
  border-radius: 3px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
// #restart {
//   width: 100px;
//   height: 100px;
//   border-radius: 50px;
//   font-size: 14px;
//   border: 10px solid #a00000;
//   background-color: #f93535;
//   font-weight: bold;
//   color: #393939;
//   cursor: pointer;
//   margin: 50px 0;
// }

// .restart__answers {
//   display: flex;
//   align-self: center;
//   height: 100px;
//   margin: 50px 0;

//   button {
//     color: #f93535;
//     font-size: 18px;
//     background-color: transparent;
//     border: none;
//     cursor: pointer;
//     width: 55px;
//   }
// }