.restart {
  width: 110px;
  color: #282828;
  background-color: #f93535;
  border: 5px solid #d50000;
  border-radius: 3px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  // &:hover {
  //   transform: scale(1.05);
  //   border-radius: 7px;
  // }
}

.restart__answers {
  align-self: center;
}

.restart__answers button {
  padding: 0;
  color: #f93535 !important;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 55px;
  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1150px) {
  .restart, .restart__answers {
    position: absolute;
    left: 50px;
  }
  .restart__answers {
    top: 49vh;
  }
  .restart {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50px !important;
    font-size: 14px !important;
    border: 10px solid #a00000 !important;
    color: #393939 !important;
    top: 45vh;
  }
}
@media (min-width: 1350px) {
  .restart, .restart__answers {
    left: 150px;
  }
}
@media (max-width: 640px) {
  .restart__answers button {
    font-size: 14px;
    width: 40px;
  }
  .restart {
    padding: 0;
    border-width: 3px;
    font-size: 11px;
    width: 90px;
    border-radius: 7px;
  }
}