* {
  margin: 0;
  padding: 0;
  background-color: #282828;
}

.app {
  max-width: 840px;
  margin: auto;
  margin-top: 80px;
  border: 3px solid grey;
}
.grid {
  display: grid;
  grid-template-columns: repeat(8, 105px);
  grid-template-rows: repeat(8, 105px);
}

.grid__rotate {
  transform: rotate(180deg);
}